/* FONT IMPORT */
@font-face {
    font-family: 'League Spartan';
    src: url("font/League_Spartan/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}

/* COMMON STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', system-ui;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease;
}

.calculator {
    padding: 1.25rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header span {
    font-size: 1.25rem;
    font-weight: 700;
}

.theme {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Theme indicator (numbers) styling */
.theme-indicator {
    font-size: 0.75rem;
    position: absolute;
}

.theme-indicator:nth-child(1) { left: 3.5rem; top: -0.75rem; }
.theme-indicator:nth-child(2) { left: 4.5rem; top: -0.75rem; }
.theme-indicator:nth-child(3) { left: 5.5rem; top: -0.75rem; }

.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.slider-label {
    font-size: 0.75rem;
}

#theme-slider {
    width: 3rem;
    height: 1rem;
    appearance: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.625rem;
    transition: all 0.3s ease;
    background: var(--toggleBg);
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--keyBgToggle);
    border-radius: 50%;
    box-shadow: 0 0.1rem var(--keyShadowToggle);
}

/* DISPLAY */
.display .output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 0.625rem;
    border: none;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    text-align: right;
    font-size: 2rem;
    background-color: var(--screenBg);
}

/* BUTTONS */
.btn-container {
    background: var(--toggleBg);
    padding: 2rem;
    border-radius: 0.625rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
}

.btn {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--keyBgAlt);
    color: var(--textColor);
    box-shadow: 0 0.25rem var(--keyShadowAlt);
}

.btn:active {
    transform: translateY(0.25rem);
}

.equal, .reset {
    grid-column: span 2;
}

.equal {
    background-color: var(--keyBgToggle);
    color: var(--textColorAlt);
    box-shadow: 0 0.25rem var(--keyShadowToggle);
}

.reset, .del {
    background-color: var(--keyBg);
    color: var(--textColorAlt);
    box-shadow: 0 0.25rem var(--keyShadow);
}

/* THEMES */

/* THEME 1 (Default) */
:root {
    --bgMain: hsl(222, 26%, 31%);
    --toggleBg: hsl(223, 31%, 20%);
    --screenBg: hsl(224, 36%, 15%);
    --keyBg: hsl(225, 21%, 49%);
    --keyShadow: hsl(224, 28%, 35%);
    --keyBgToggle: hsl(6, 63%, 50%);
    --keyShadowToggle: hsl(6, 70%, 34%);
    --keyBgAlt: hsl(30, 25%, 89%);
    --keyShadowAlt: hsl(28, 16%, 65%);
    --textColor: hsl(221, 14%, 31%);
    --textColorAlt: hsl(0, 0%, 100%);
}

body.theme-1 {
    background-color: var(--bgMain);
}

.theme-indicator.theme-1:nth-child(1) { color: var(--textColorAlt); }
.theme-indicator.theme-1:nth-child(2) { color: var(--textColorAlt); }
.theme-indicator.theme-1:nth-child(3) { color: var(--textColorAlt); }

.output.theme-1 {
    color: var(--textColorAlt);
}

/* THEME 2 (Light Mode) */
body.theme-2 {
    --bgMain: hsl(0, 0%, 90%);
    --toggleBg: hsl(0, 5%, 81%);
    --screenBg: hsl(0, 0%, 93%);
    --keyBg: hsl(185, 42%, 37%);
    --keyShadow: hsl(185, 58%, 25%);
    --keyBgToggle: hsl(25, 98%, 40%);
    --keyShadowToggle: hsl(25, 99%, 27%);
    --keyBgAlt: hsl(45, 7%, 89%);
    --keyShadowAlt: hsl(35, 11%, 61%);
    --textColor: hsl(60, 10%, 19%);
    --textColorAlt2: hsl(0, 0%, 100%);
    background-color: var(--bgMain);
}

.theme-indicator.theme-2:nth-child(1) { color: var(--textColorAlt2); }
.theme-indicator.theme-2:nth-child(2) { color: var(--textColorAlt2); }
.theme-indicator.theme-2:nth-child(3) { color: var(--textColorAlt2); }

.output.theme-2 {
    color: var(--textColorAlt2);
}

/* THEME 3 (Dark Mode) */
body.theme-3 {
    --bgMain: hsl(268, 75%, 9%);
    --toggleBg: hsl(268, 71%, 12%);
    --screenBg: hsl(268, 71%, 12%);
    --keyBg: hsl(281, 89%, 26%);
    --keyShadow: hsl(285, 91%, 52%);
    --keyBgToggle: hsl(176, 100%, 44%);
    --keyShadowToggle: hsl(177, 92%, 70%);
    --keyBgAlt: hsl(268, 47%, 21%);
    --keyShadowAlt: hsl(290, 70%, 36%);
    --textColor: hsl(52, 100%, 62%);
    --textColorAlt3: hsl(198, 20%, 13%);
    background-color: var(--bgMain);
}

.theme-indicator.theme-3:nth-child(1) { color: var(--textColorAlt3); }
.theme-indicator.theme-3:nth-child(2) { color: var(--textColorAlt3); }
.theme-indicator.theme-3:nth-child(3) { color: var(--textColorAlt3); }

/* RESPONSIVE DESIGN */
@media (max-width: 370px) {
    .calculator {
        max-width: 90%;
    }
}

/* ATTRIBUTION */
.attribution {
    font-size: 11px;
    text-align: center;
    bottom: 0;
}

.attribution a {
    color: hsl(0, 0%, 100%);
}